/* UTILITY */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1152px;
    width: 70%;
    margin: auto;
}


/* HEADER */
#app_header {
    background-color: black;
    color: white;
    border-bottom: 1px solid yellowgreen;
}

/* MAIN */
#app_main {
    background-color: black;
}
.row{
    display: flex;
    flex-wrap: wrap;
    gap: 1px ;
    overflow: hidden;
}

.col4{
    width: 200px;
    gap:5px;
}




/* FOOTER */
#app_footer{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: darkslategrey;
    padding: 2rem;

}