/* UTILITY */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --z-icon: white;
    --z-end: red;
    --z-share: green;
    --z-bg: black;
    --z-navbarr: dimgray;
}


body{
    background-color:var(--z-bg);
}
.container{
    /* max-width: 1152px; */
    height: calc(100vh - 120px);
    margin: auto;
    overflow:scroll;
    margin-top: 5rem;
}

/* HEADER */
#app_header{
    height: 60px;
    text-align: end;
}

.btn
{
  padding: 0.5rem 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem;
  background-color: var(--z-navbarr);
  color: var(--z-icon);
}


/* MAIN */
#app_main {
    height: calc(100vh - 120px);
}
 
/* .link{
    position: relative;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    font-size: 20px;
}

.link i{
    position: absolute;
    left: 0;
    top: 0;
    display: none;
}

.link:hover .linkup_over{
    display: block;
    color: brown;
    font-size: 50px;
}

.linkdown:hover .linkdown_over{
    display: block;
    color: brown;
    font-size: 50px;
}

.linkdown{
    position: absolute;
    right: 0;
    top: 0;
}

.linkup{
    position: absolute;
    left: 0;
    top: 0;
}

a {
    text-decoration: none;
    color:cornflowerblue;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style:  ;
} */

/* #head #id{
    position: relative;
    bottom: 0;
    color: aqua;
    height: 1px;
} */
/* GRID_main */
.row{
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
}
/* .col4{
    width: calc((100% / 12) * 2);
}
.screen{
    padding-top: 2px;
    text-align: center;
} */


/* FOOTER */
#app_footer{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color:var(--z-navbarr);
    height: 60px;
}