/* UTILITY */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
.container{
    max-width: 1152px;
    width: 80%;
    height: 600px;
    margin: auto;
    border: 2px solid red;
    overflow:scroll;
    margin-top: 5rem;
}

/* HEADER */
#app_header{
    background-color: black;
    color: white;
    border-bottom: 1px solid yellowgreen;
}

/* MAIN */
#app_main {
    background-color: black;
}

.row{
    display: flex;
    flex-wrap: wrap;
}
.col4{
    width: calc((100% / 12) * 2);
}
.screen{
    padding-top: 2px;
}


/* FOOTER */
/* #app_footer{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10000;
    background-color: darkslategrey;
    padding: 2rem;

} */